
<nav>
	<div class="spacer"></div>
	<div class="wrapper">
		<a href="/" class="pseudo underline">
			<div class="title first">λ</div>
			<div class="border"></div>
		</a>
		<div class="spacer"></div>
		<a href="/about" class="pseudo selectable">
			<div class="title second">
				À propos
			</div>
			<div class="border"></div>
		</a>
		<div class="spacer xs"></div>
		<a href="/feed.xml" class="pseudo selectable">
			<div class="title second">
				{%- include rss.html -%}
			</div>
			<div class="border"></div>
		</a>
	</div>
	<div class="spacer"></div>
</nav>
