<!DOCTYPE html>
<html lang="{{ page.lang | default: 'fr' }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main>
      <div class="wrapper">
        <div class="post-content">
          {{ content }}
        </div>
      </div>
    </main>
    <!-- Fathom - simple website analytics - https://github.com/usefathom/fathom -->
    <script>
      (function(f, a, t, h, o, m){
        a[h]=a[h]||function(){
          (a[h].q=a[h].q||[]).push(arguments)
        };
        o=f.createElement('script'),
        m=f.getElementsByTagName('script')[0];
        o.async=1; o.src=t; o.id='fathom-script';
        m.parentNode.insertBefore(o,m)
      })(document, window, '//fathom.topaze.ovh/tracker.js', 'fathom');
      fathom('set', 'siteId', 'QRCIM');
      fathom('trackPageview');
    </script>
  </body>
</html>
