<!DOCTYPE html>
<html lang="{{ page.lang | default: 'fr' }}">

  {%- include head.html -%}

  <body>

    <div class="fixed">
      <div class="wrapper">
        <button class="totop hidden" aria-label="return to top">
          ⇪
        </button>
      </div>
    </div>

    <div class="overflow">
      {%- include header.html -%}

      <main>
        <div class="wrapper">
          {% capture post_date %}
            {{ page.date | date: "%-d" }}
            {% assign m = page.date | date: "%-m" | minus: 1 %}
            {{ site.months[m] }}
            {{ page.date | date: "%Y" }}
          {% endcapture %}
          <div class="post-title">
            {{ page.title }}
          </div>

          <span class="post-meta">
            <span class="post-date">{{ post_date }}</span>
            {%- for tag in page.tags -%}
              <span class="post-tag">#{{ tag }}<span>
            {%- endfor -%}
          </span>

          <div class="post-content">
            {{ content }}
          </div>
          <div class="post-comments">
            <script src="https://utteranc.es/client.js"
              repo="rozaxe/rozaxe.github.io-comments"
              issue-term="pathname"
              theme="github-light"
              crossorigin="anonymous"
              async>
            </script>
          </div>
        </div>
      </main>
    </div>
    <script type="text/javascript" src="/assets/scripts/app.js"></script>
    <!-- Fathom - simple website analytics - https://github.com/usefathom/fathom -->
    <script>
      (function(f, a, t, h, o, m){
        a[h]=a[h]||function(){
          (a[h].q=a[h].q||[]).push(arguments)
        };
        o=f.createElement('script'),
        m=f.getElementsByTagName('script')[0];
        o.async=1; o.src=t; o.id='fathom-script';
        m.parentNode.insertBefore(o,m)
      })(document, window, '//fathom.topaze.ovh/tracker.js', 'fathom');
      fathom('set', 'siteId', 'QRCIM');
      fathom('trackPageview');
    </script>
    <!-- / Fathom -->
  </body>
</html>
